button{
    background-color: black;
    color: white;
    border: none;
    padding: 20px 30px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.first-btn{
    margin-left: 475px;
}

button:hover{
    background-color: gray;
}

button:active{
    background-color: darkolivegreen;
}